<div class="team-modal-wraper">
    <div class="team-modal">
        <button class="teamModal-btn" type="button">
            X
        </button>
        <h2 class="team__title">Team Project-6</h2>        
        <ul class="team__list">
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/teammate/olexandr.jpg" alt="Piddubnyi Oleksandr">
                </div>
                <h3 class="teammate__name">Piddubnyi Oleksandr</h3>
                <p class="teammate__role">Team-lead</p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" target="_blank" href="https://github.com/AlexandrPoddubnyi">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" target="_blank" href="https://www.linkedin.com/in/%D0%BE%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80-%D0%BF%D1%96%D0%B4%D0%B4%D1%83%D0%B1%D0%BD%D0%B8%D0%B9-66289b245/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>    
                </ul>
                <a class="social__element social__email" target="_blank" href="mailto: san4oss91@gmail.com">san4oss91@gmail.com</a> 
            </li>
            <li class="team__element">
                <div class="img-wraper img-wraper--alex">
                    <img src="./images/teammate/alex.jpg" alt="Gryshchenko Oleksii">
                </div>
                <h3 class="teammate__name">Gryshchenko Oleksii</h3>
                
                <p class="teammate__role">Scrum-master</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" target="_blank" href="https://github.com/gr-alexey">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" target="_blank" href="https://www.linkedin.com/in/alexey-grishchenko-43a6a267/">
                            <svg class="social__icon ">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <a class="social__element social__email" target="_blank" href="mailto:gryshchenko.oleksii@gmail.com">gryshchenko.oleksii@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/teammate/artem.jpg" alt="Artem Horiuk" >
                </div>
                <h3 class="teammate__name">Artem Horiuk</h3>
                <p class="teammate__role">Developer</p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" target="_blank" href="https://github.com/artemhoriuk1994">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" target="_blank" href="https://ua.linkedin.com/in/artem-horiuk-28288a1a5">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <a class="social__element social__email" target="_blank" href="mailto:artemgoryuk@gmail.com">artemgoryuk@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/teammate/anatoliy.jpg" alt="Anatoliy Tymoshenko">
                </div>
                <h3 class="teammate__name">Anatoliy Tymoshenko</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" target="_blank" href="https://github.com/ElfNevisokogoRosta">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" target="_blank" href="https://www.linkedin.com/in/anatoliy-tymoshenko-556440229/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>  
                </ul>
                <a class="social__element social__email" target="_blank" href="mailto:anatoliy.tymoshenko.work@gmail.com">anatoliy.tymoshenko.wrok@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/teammate/anton.jpg" alt="Anton Plish" >
                </div>
                <h3 class="teammate__name">Anton Plish</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" target="_blank" href="https://github.com/AntonPlish">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" target="_blank" href="https://www.linkedin.com/in/anton-plish-84a536a4/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>     
                </ul>
                <a class="social__element social__email" target="_blank" href="mailto:antonplish@gmail.com">antonplish@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/teammate/andriy.jpg" alt="Andrii Bukalo" >
                </div>
                <h3 class="teammate__name">Andrii Bukalo</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" target="_blank" href="https://github.com/AndreyBukalo">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" target="_blank" href="https://www.linkedin.com/in/andrey-bukalo-38a879174/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>     
                </ul>
                <a class="social__element social__email" target="_blank" href="mailtto:bukaloandrey@gmail.com">bukaloandrey@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/teammate/demian.jpg" alt="Demian Pashkovskyi" >
                </div>
                <h3 class="teammate__name">Demian Pashkovskyi</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" target="_blank" href="https://github.com/Demian-Pashkovskyi">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" target="_blank" href="https://www.linkedin.com/in/dpashkovskyi/?locale=en_US">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>       
                </ul>
                <a class="social__element social__email" target="_blank" href="mailto:skyangely4@gmail.com">skyangely4@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/teammate/antonina.jpeg" alt="Antonina Tarasiuk" >
                </div>
                <h3 class="teammate__name">Antonina Tarasiuk</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" target="_blank" href="https://github.com/AntoninaTarasyuk">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" target="_blank" href="https://www.linkedin.com/mwlite/in/antonina-tarasyuk">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>  
                </ul>
                <a class="social__element social__email" target="_blank" href="mailto:antoshka.tarasyuk@gmail.com">antoshka.tarasyuk@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/teammate/yurii.jpg" alt="Yurii Kucher" >
                </div>
                <h3 class="teammate__name">Yurii Kucher</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" target="_blank" href="https://github.com/dev-kucha">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" target="_blank" href="https://www.linkedin.com/in/yurii-kucher/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>  
                </ul>
                <a class="social__element social__email" target="_blank" href="mailto:ukucher@gmail.com">ukucher@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/teammate/oleg.jpg" alt="Oleg Pavlenko" >
                </div>
                <h3 class="teammate__name">Oleg Pavlenko</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" target="_blank" href="https://github.com/OlehPavlenko">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" target="_blank" href="https://www.linkedin.com/in/олег-павленко-34b0a2228">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>   
                </ul>
                <a class="social__element social__email" target="_blank" href="mailto:pavlenko.zevs@gmail.com">pavlenko.zevs@gmail.com</a>
            </li>
            <li class="team__element">
                <div class="img-wraper">
                    <img src="./images/cat.jpg" alt="Denis Chuprin" >
                </div>
                <h3 class="teammate__name">Denis Chuprin</h3>
                
                <p class="teammate__role">Developer</p>
                <p></p>
                <ul class="teammate__socials">
                    <li class="social__element">
                        <a class="social__link social__link--gh" target="_blank" href="https://github.com/Dante4Rungun">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#git-hub"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__element">
                        <a class="social__link social__link--li" target="_blank" href="https://www.linkedin.com/in/denis-chuprin-526239200/">
                            <svg class="social__icon">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>   
                </ul>
                <a class="social__element social__email" target="_blank" href="mailto:denischuprin9619@gmail.com">denischuprin9619@gmail.com</a>
            </li>
        </ul>
    </div>
</div>